@mixin placeholder
    &::-webkit-input-placeholder
        @content
    &:-moz-placeholder
        @content
    &::-moz-placeholder
        @content
    &:-ms-input-placeholder
        @content
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
    -webkit-appearance: none
    -moz-appearance: none
    margin: 0
input[type='number']
    -moz-appearance: textfield
body
    font-family: 'Roboto'
    &:active,:hover,:focus
        outline: 0
        outline-offset: 0
button
    border: 0
    border-radius: 0
    cursor: pointer
    color: #FFF
ul, li, ol
    padding: 0
    list-style-type: none
h1,h2,h3,h4,h5,p,a,span,address,li,label
    font-size: 14px
    margin: 0
h1,h2,h3,h4,h5,p,span,address,a:not([href]):not([tabindex])
    cursor: default
img
    pointer-events: none
.back_form__send
    width: 100%
    user-select: none
    display: none
    position: fixed
    height: 100%
    top: 0px
    z-index: 126
    background: rgba(0,0,0,1)
    svg
        width: 45px
        height: 45px
        margin-left: auto
        display: block
        cursor: pointer
        transition: .5s
        &:hover
            transform: scale(.7)
            opacity: .7
    .back_form__send-in
        width: 100%
        max-width: 90%
        margin: 100px auto 0
        position: relative
        p
            color: #FFF
            font-size: 2.8em
            text-align: center
.back_form
    width: 100%
    user-select: none
    display: none
    position: fixed
    height: 120%
    top: 0px
    z-index: 126
    background: rgba(0,0,0,1)
    svg
        width: 45px
        height: 45px
        margin-left: auto
        display: block
        cursor: pointer
        transition: .5s
        &:hover
            transform: scale(.7)
            opacity: .7
    .back_first
        width: 100%
        max-width: 90%
        margin: 100px auto 0
        position: relative
    .back_second
        color: #FFF
        position: relative
        z-index: 127
        text-align: center
        span
            display: block
            font-size: .7em
            margin-top: 15px
        p
            font-size: 1.8em
            line-height: 1.1
            margin-bottom: 50px
            font-weight: 600
        textarea
            background: transparent
            color: #FFF
            border: none
            margin: 10px 30px 40px
            resize: none
            overflow: hidden
            background-image: url(/img/index/bg_textarea.jpg)
            background-size: contain
            transition: .7s
            cursor: pointer
            width: 275px
            @include placeholder
                transition: .7s
                color: #FFF
            &:focus, &:hover
                transform: scale(1.05)
                border-color: #FFF
            &:focus
                cursor: text
                @include placeholder
                    color: transparent
        input
            background: transparent
            color: #FFF
            border: none
            margin: 10px 30px 40px
            border-bottom: 1px solid rgba(255,255,255,.7)
            transition: 1s
            cursor: pointer
            width: 255px
            @include placeholder
                transition: .7s
                color: #FFF
            &:focus, &:hover
                transform: scale(1.05)
                border-color: #FFF
            &:focus
                cursor: text
                @include placeholder
                    color: transparent
        button
            background: transparent
            border: 1px solid #FFF
            border-radius: 20px
            width: 100%
            transition: .5s
            transform: scale(1.2)
            width: 255px
            &:hover
                transform: scale(1.05)
                color: #000
                background: #FFF
.wrapper
    min-height: calc(100vh - 462px)
.wrapper_fixed
    min-height: calc(100vh - 542px)
    margin-top: 80px
    .header
        position: fixed !important
        top: 0
        width: 100%
        z-index: 105
.wrapper_fixeded
    .header
        position: fixed !important
        width: 100%
        top: 0
        z-index: 105
.header
    background: #1c1c1c
    padding: 10px 0
    position: absolute
    width: 100%
    .navbar
        color: #FFF
        background: #1c1c1c
        z-index: 120
        .navbar-toggler
            border: 0
        .navbar-collapse
            button
                background: #0036ff
                transition: .6s
                &:hover
                    color: #0000ff
                    background: #FFF
        button
            border-radius: 3px
            padding: 5px 12px
            font-weight: 600
        .navbar-nav
            .nav-link
                color: rgba(255,255,255, 1)
                font-weight: 600
                text-align: center
            .dropdown-menu
                border-radius: 0
                padding: 0
                a
                    border-bottom: 2px solid rgb(238, 238, 238)
                    padding: .35rem 1.5rem
                    font-weight: 600
                    &:last-child
                        border: 0
        .header__logo
            a
                display: inline-block
            img
                width: 100%
.footer
    background: #202020
    padding: 60px 0
    color: #FFF
    a
        transition: .3s
        &:hover
            opacity: .6
    .footer_first
        border-bottom: 3px solid #777
        a
            display: inline-block
            padding-top: 15px
            padding-bottom: 15px
        img
            height: 20px
            margin: 0 5px
        .footer_first__links
            a
                padding: 15px
                color: #FFF
    .footer_second
        padding-top: 12px
        p
            color: #7b7b7b
            font-size: 0.74em
            font-weight: 600
        .first
            font-size: 14px
            color: #CCC
            address
                padding: 0 0 20px
        .second
            a
                color: #FFF
                display: block
    .footer_three
        padding-top: 25px
        span
            font-size: 1.1em
        img
            width: 170px
            margin-right: 15px
        a
            color: #FFF
            text-decoration: underline
            display: inline-block
@media (min-width:801px) and (max-width:1367px)
    .back_form
        svg
            z-index: 160
            position: absolute
            right: 0
        .back_first
            margin: 60px auto 0
@media screen and (min-width:480px) and (max-width:800px)
    .numbmob
        color: #FFF
        margin-bottom: -10px
    .back_form__send .back_form__send-in
        margin: 30px auto 0
    .header .navbar .navbar-nav .dropdown-menu a
        width: 49%
        display: inline-block
    .back_form
        svg
            transform: scale(.8)
            position: absolute
            right: 0
            z-index: 160
        .back_first
            margin: 20px auto 0
        .back_second
            p
                display: none
    .footer
        .footer_second
            a
                font-size: 0.7em
            p
                margin-top: 20px
        .footer_three a
            margin-top: 20px
@media screen and (max-width:479px)
    .numbmob
        color: #FFF
        margin-bottom: -10px
        &:hover
            color: #FFF
            text-decoration: none
    .wrapper
        min-height: calc(100vh - 302px)
    .wrapper_fixed
        min-height: calc(100vh - 382px)
        .header
            position: fixed !important
            top: 0
            width: 100%
            z-index: 105
    .back_form__send .back_form__send-in p
        font-size: 1.3em
    .back_form
        svg
            transform: scale(.5)
        .back_first
            margin: 10px auto 0
        .back_second
            p
                font-size: 1em
                margin-bottom: 20px
            input
                margin: 10px 0px
    h1,h2,h3,h4,h5,p,a,span,address,li
        font-size: 11px
    .footer
        padding: 20px 0
        .footer_first
            img
                width: 65px
            .footer_first__links a
                background: #0000ff
                color: #FFF
                font-weight: 600
                font-size: 1.2em
                margin: 20px 0
                padding: 5px 25px
        .footer_second
            display: none
        .footer_three img
            display: block
            margin: 10px auto

@media (min-width: 992px)
    .navbar-expand-lg .navbar-nav .dropdown-menu
        margin-top: 22px
        button
            margin-left: 15px!important
            margin-right: 15px!important
