.video-preview
    height: 100vh
    background: url('../img/index/video.png')
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    overflow: hidden
    position: relative
    video
        min-width: 100%
        min-height: 100%
        position: absolute
    span
        color: #FFF
        font-size: .65em
        line-height: 1
        display: block
        margin-top: 8px
    .video-preview__div
        display: table
        margin: auto
        img
            width: 30px
            margin: 8px 10px 0
            transition: 0.5s
        div
            display: inline-block
            transition: .3s
            vertical-align: top
            a
                color: #FFF
                display: flex
        &:hover
            a
                text-decoration: none
                color: #FFF
            div
                transform: rotate(-5deg)
            img
                transform: scale(1.05)
    .video-preview_logo-div
        color: #FFF
        height: calc(100% - 56px)
        img
            width: 400px
            margin-bottom: 14px
        h1
            font-size: 1.6em
            font-weight: 600
            text-transform: uppercase
            margin-bottom: 20px
        button
            display: block
            text-align: center
            margin: 20px auto 5px
            background: transparent
            border: 2px solid #0012ff
            padding: 5px 15px
            overflow: hidden
            position: relative
            transition: all 0.5s
            &:before
                position: absolute
                content: ""
                width: 50px
                height: 100px
                background: -moz-linear-gradient(left, rgba(255,255,255,0.23) 0%, rgba(255,255,255,1) 70%)
                background: -webkit-linear-gradient(left, rgba(255,255,255,0.23) 0%,rgba(255,255,255,1) 70%)
                background: linear-gradient(to right, rgba(255,255,255,0.23) 0%,rgba(255,255,255,1) 70%)
                top: -25px
                left: -65px
                transition: 0.3s
                transform: rotate(10deg)
            &:hover
                &:before
                    left: 256px
                    transform: scale(1.2) rotate(50deg)
.before-head
    background: #262626
    color: #FFF
    padding: 130px 0
    .before-head__change-image
        span
            font-size: 4em
            line-height: 1em
            font-weight: 600
        button
            display: block
            width: 50px
            height: 50px
            margin: 0 auto 10px
            background: transparent
            background-image: url('/img/icons/arrow_white.png')
            background-position: center center
            background-size: 75%
            background-repeat: no-repeat
            transition: all .3s
            &:hover
                background: #959595
                background-image: url('/img/icons/arrow_white.png')
                background-position: center center
                background-size: 75%
                transform: scale(1.05)
                background-repeat: no-repeat
            &:active
                border-radius: 100%
                transform: scale(0.95)
        .background
            margin-top: -198px
            width: 430px
            height: 560px
        .before-head__device
            position: absolute
            bottom: 50px
            width: 410px
            transition: all .5s cubic-bezier(0, 0, 0.36, 1.52)
            -webkit-transition: all .5s cubic-bezier(0, 0, 0.36, 1.52)
            -moz-transition: all .5s cubic-bezier(0, 0, 0.36, 1.52)
            -webkit-transform: scale(1)
            -ms-transform: scale(1)
            transform: scale(1)
            opacity: 1
        .before-head__device_hide
            -webkit-transform: scale(0)
            -ms-transform: scale(0)
            transform: scale(0)
            opacity: 0
    .before-head__services
        h2,p
            margin-top: 23px
        h2
            font-size: 2.5em
            font-weight: 600
        p
            font-size: 1.1em
    .before-head__about
        img
            width: 40px
        h2
            font-size: 1.2em
            margin: 8px 0
        p
            font-size: .8em
.devices
    padding: 130px 0
    h2
        font-size: 2.5em
        font-weight: 600
    p
        padding: 30px 0
    img
        margin: 10px 5px
.trust
    padding-bottom: 130px
    h3
        font-size: 2.3em
        padding-bottom: 20px
        font-weight: 600
    p
        padding-bottom: 20px
    img
        width: 100%
        padding-bottom: 33px
.delivery
    background: #262626
    padding: 130px 0
    color: #FFF
    h2
        font-size: 2.5em
        margin-bottom: 10px
    p
        font-size: 1.2em
        line-height: 1.2
    img
        width: 100%
        margin-top: 30px
    .delivery__callback
        font-weight: 600
        big
            font-size: 2em
        .delivery__callback_in
            padding: 25px 25px 10px
            border: 2px solid #0012ff
        textarea, input
            display: inline-block
            padding-left: 6px
        textarea
            margin-top: 20px
            resize: none
            width: 100%
        input
            width: 100%
            margin-top: 10px
        button
            margin-top: 15px
            width: 100%
            background: #0000ff
            padding: 10px 0
            transition: .6s
            &:hover
                color: #0000ff
                background: #FFF
        p
            color: #686868
            font-size: .7em
            text-align: center
            margin-top: 10px
.blog
    padding: 130px 0
    color: #FFF
    background: #1b1b1b
    h2
        font-size: 2.5em
    p
        margin: 10px 0 30px
    span
        font-weight: bold
        color: #6d6d6d
    .blog_item
        cursor: pointer
        padding: 0 15px
        overflow: hidden
        transition: .5s
        a
            text-decoration: none
        .blog_in
            background: #FFF
            height: 100%
            padding: 3px 15px
            a
                transition: all 0.5s
                &:hover
                    transform: scale(1.1)
                    text-decoration: none
        .clock
            width: 15px
            margin-right: 5px
        span
            color: #000
        .item
            width: 100%
            margin: 3px 0
        p
            cursor: pointer
            color: #000
            margin: 0
            font-weight: 600
            font-size: .8em
        &:hover
            transform: scale(1.04)
    .soc_network
        p
            color: #FFF
            background: #262626
            margin: 0
            font-weight: 600
            padding-left: 5px
        img
            width: 60px
            height: 60px
            margin: 7px 0
        span
            display: block
            text-align: center
            font-size: .7em
        strong
            display: block
            color: #000
            font-size: 0.8em
            margin-top: 10px
    .blog_go
        color: #FFF
        background: #0000ff
        text-decoration: none
        font-size: 1.3em
        padding: 5px 35px
        display: table
        margin: 90px auto 0
        transition: .6s
        &:hover
            color: #0000ff
            background: #FFF

.clients
    padding: 130px 0
    h2
        font-size: 2.5em
    p
        margin: 10px 0 30px
    img
        width: 100%
        margin-top: 20px
.certificates
    padding: 0 0 130px
    h2
        font-size: 2.5em
    p
        margin: 10px 0 30px
    img
        width: 100%
    a
        margin: 30px auto 0
        text-decoration: underline
        font-weight: 600
    .certificates_hidden
        margin-top: 20px
        display: none
#map_place
    h2
        font-size: 2.5em
    address
        margin: 10px 0 30px
    #map
        width: 100%
        height: 550px
.contact_first
    background: url('/img/logos/bg_contact_logo.jpg')
    background-position: center center
    background-size: auto 90%
    background-repeat: no-repeat
    padding: 70px 0 30px
    margin-bottom: 40px
    p
        font-weight: 600
        font-size: 1.2em
        line-height: 1.2em
.contact
    h1, h2
        font-size: 1.4em
        font-weight: 600
    .contact_contain
        background: #DDD
        padding: 20px 30px
        a
            color: #000
    #map_place
        margin-top: 150px
    .contact_first
        font-weight: 600
        p
            font-size: 1.2em
            a
                color: #0000ff
    .contact_second
        a
            color: #007bff


//        tables
@media screen and (min-width:480px) and (max-width:800px)
    .video-preview .video-preview_logo-div
        height: 100%
        img
            width: 60%
        h1
            font-size: 1.3em
            margin-bottom: 10px
    .before-head__about
        margin-top: 50px
    .before-head .before-head__change-image
        .background
            width: 290px
            height: 280px
        .before-head__device
            width: 210px

//        mobile
@media screen and (max-width:479px)
    .devices
        padding: 40px 0
    .back_form
        .back_first
            margin: 70px auto 0
        .back_second
            p
                font-size: 1em
                margin-bottom: 30px
            input
                margin: 10px 0px
    .video-preview
        video
            display: none
    .devices
        h2
            font-size: 1.3em
            width: 100%
            text-align: center
        p
            text-align: center
    .trust
        padding-bottom: 30px
        h3
            font-size: 1.3em
            text-align: center
        p
            text-align: center
    .video-preview .video-preview_logo-div img
        width: 80%
    .delivery
        padding: 60px 0
        img
            margin-bottom: 30px
        p
            font-size: 0.8em
        .delivery__callback
            input
                width: 100%
                &:nth-child(even)
                    margin-left: 0
    .blog
        padding: 60px 0
        h2
            font-size: 1.5em
    .clients
        padding: 60px 0
        h2
            font-size: 1.5em
    #map_place h2
        font-size: 1.5em
    .certificates
        padding: 70px 0 130px
        h2
            font-size: 1.5em
    .before-head
        padding: 100px 0
        .before-head__change-image
            .before-head__device
                width: 250px
                left: 0
            .background
                width: 250px
                height: 340px
                margin-top: -108px
            span
                font-size: 2em
        .before-head__services
            padding-bottom: 70px
