.button
    cursor: pointer
.works
    h1
        font-size: 1.5em
        margin: 25px 0 10px
        font-weight: 600
    h2
        font-size: 1.4em
    img
        padding: 25px 0
        width: 100%
.block
    h2
        font-weight: 600
        margin: 50px 0 10px
    p
        margin: 15px 0
.kard_val
    h2
        margin: 20px 0 15px
    p
        margin: 15px 0
.realization
    h2
        margin-top: 60px
        font-weight: 600
    .status
        margin-top: 5px
    .garant
        margin: 10px 0
    .price
        font-weight: 600
.gallery
    .go-blog
        border: 3px solid #000
        padding: 15px 25px
        margin: 45px 0
        h3
            font-size: 1.3em
            color: #000
            padding: 15px 0
            font-weight: 600
        button
            width: 100%
            background: #0000ff
            padding: 7px 0
        img
            padding: 0
    .soc_network
        overflow: hidden
        border: 3px solid #000
        img
            padding: 0
        p
            color: #FFF
            background: #262626
            margin: 0
            font-weight: 600
            padding-left: 5px
        img
            width: 60px
            height: 60px
            margin: 7px 0
        span
            display: block
            text-align: center
            color: #000
            font-size: .7em
        strong
            display: block
            color: #000
            font-size: 0.7em
            margin-top: 10px
        a
            transition: all 0.5s
            font-size: 1em
            &:hover
                transform: scale(1.1)
                text-decoration: none
        .blog_in
            padding: 5px 15px
.asking
    .comments
        font-weight: 600
        margin: 40px 0 15px
        font-size: 1.2em
    .question
        margin-bottom: 40px
        img
            width: 40px
            padding: 0px
        span
            color: #888
    .text
        margin: 10px 0
    a
        text-decoration: underline
        color: #888
    .answer
        margin-top: 25px
.addquestion
    background: #DDD
    padding: 60px 0
    red
        color: red
    p
        span, a
            font-size: 1.6em
            font-weight: 600
    label
        margin: 17px 7px 5px
        color: #888
    textarea, input
        resize: none
        transition: .5s
        width: 100%
        padding: 5px 10px
        border: 1px solid #0000ff
        &:focus
            transform: scale(1) !important
            border: 1px solid #0000ff !important
        &:placeholder-shown
            border: 1px solid #777
            border-radius: 5px
            transform: scale(.99)
    button
        margin-top: 10px
        background: #0000ff
        padding: 10px 30px
        border-radius: 5px
        transform: scale(0.97)
        transition: .5s
        &:hover
            border-radius: 0
            transform: scale(1)
    .captcha
        margin: 15px 0 0
        input
            margin-top: 5px
        span
            width: 120px
            display: inline-block
            cursor: pointer
            min-height: 34px
.blog
    padding: 30px 0
    .blog__more
        margin: 20px 0
    .blog__item
        border: 1px solid #777
        padding: 40px 50px
        margin: 20px 0
        h2
            font-size: 2em
        button
            margin-top: 10px
            border-radius: 20px
            padding: 3px 15px
            border: 1px solid #0000F0
            color: #000
        p
            font-size: 1.3em
            padding: 10px 0

.error
    margin: 260px auto 100px
    p
        margin: 0
        font-weight: bold
        font-size: 1.5em
    a
        margin-top: 40px
        display: inline-flex
        font-size: 1.28em
        text-decoration: underline
        color: #000
    span
        height: 79px
        display: inherit
        line-height: 65px
        font-size: 15em
        font-weight: bold
    .align-items-center
        background: #0000FF
@media screen and (min-width:480px) and (max-width:800px)
    .gallery
        .go-blog, .soc_network
            display: none
    .blog .blog__item
        h2
            font-size: 1.1em
            margin-top: 10px
        p
            font-size: 0.8em
    .addquestion
        margin-top: 20px
@media screen and (max-width:479px)
    .gallery
        .go-blog, .soc_network
            display: none
    .blog
        .blog__item
            padding: 20px 30px
            h2
                font-size: 1.3em
                margin: 10px 0
            p
                font-size: 1em
