.button {
  cursor: pointer; }

.works h1 {
  font-size: 1.5em;
  margin: 25px 0 10px;
  font-weight: 600; }
.works h2 {
  font-size: 1.4em; }
.works img {
  padding: 25px 0;
  width: 100%; }

.block h2 {
  font-weight: 600;
  margin: 50px 0 10px; }
.block p {
  margin: 15px 0; }

.kard_val h2 {
  margin: 20px 0 15px; }
.kard_val p {
  margin: 15px 0; }

.realization h2 {
  margin-top: 60px;
  font-weight: 600; }
.realization .status {
  margin-top: 5px; }
.realization .garant {
  margin: 10px 0; }
.realization .price {
  font-weight: 600; }

.gallery .go-blog {
  border: 3px solid #000;
  padding: 15px 25px;
  margin: 45px 0; }
  .gallery .go-blog h3 {
    font-size: 1.3em;
    color: #000;
    padding: 15px 0;
    font-weight: 600; }
  .gallery .go-blog button {
    width: 100%;
    background: #0000ff;
    padding: 7px 0; }
  .gallery .go-blog img {
    padding: 0; }
.gallery .soc_network {
  overflow: hidden;
  border: 3px solid #000; }
  .gallery .soc_network img {
    padding: 0; }
  .gallery .soc_network p {
    color: #FFF;
    background: #262626;
    margin: 0;
    font-weight: 600;
    padding-left: 5px; }
  .gallery .soc_network img {
    width: 60px;
    height: 60px;
    margin: 7px 0; }
  .gallery .soc_network span {
    display: block;
    text-align: center;
    color: #000;
    font-size: 0.7em; }
  .gallery .soc_network strong {
    display: block;
    color: #000;
    font-size: 0.7em;
    margin-top: 10px; }
  .gallery .soc_network a {
    transition: all 0.5s;
    font-size: 1em; }
    .gallery .soc_network a:hover {
      transform: scale(1.1);
      text-decoration: none; }
  .gallery .soc_network .blog_in {
    padding: 5px 15px; }

.asking .comments {
  font-weight: 600;
  margin: 40px 0 15px;
  font-size: 1.2em; }
.asking .question {
  margin-bottom: 40px; }
  .asking .question img {
    width: 40px;
    padding: 0px; }
  .asking .question span {
    color: #888; }
.asking .text {
  margin: 10px 0; }
.asking a {
  text-decoration: underline;
  color: #888; }
.asking .answer {
  margin-top: 25px; }

.addquestion {
  background: #DDD;
  padding: 60px 0; }
  .addquestion red {
    color: red; }
  .addquestion p span, .addquestion p a {
    font-size: 1.6em;
    font-weight: 600; }
  .addquestion label {
    margin: 17px 7px 5px;
    color: #888; }
  .addquestion textarea, .addquestion input {
    resize: none;
    transition: 0.5s;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #0000ff; }
    .addquestion textarea:focus, .addquestion input:focus {
      transform: scale(1) !important;
      border: 1px solid #0000ff !important; }
    .addquestion textarea:placeholder-shown, .addquestion input:placeholder-shown {
      border: 1px solid #777;
      border-radius: 5px;
      transform: scale(0.99); }
  .addquestion button {
    margin-top: 10px;
    background: #0000ff;
    padding: 10px 30px;
    border-radius: 5px;
    transform: scale(0.97);
    transition: 0.5s; }
    .addquestion button:hover {
      border-radius: 0;
      transform: scale(1); }
  .addquestion .captcha {
    margin: 15px 0 0; }
    .addquestion .captcha input {
      margin-top: 5px; }
    .addquestion .captcha span {
      width: 120px;
      display: inline-block;
      cursor: pointer;
      min-height: 34px; }

.blog {
  padding: 30px 0; }
  .blog .blog__more {
    margin: 20px 0; }
  .blog .blog__item {
    border: 1px solid #777;
    padding: 40px 50px;
    margin: 20px 0; }
    .blog .blog__item h2 {
      font-size: 2em; }
    .blog .blog__item button {
      margin-top: 10px;
      border-radius: 20px;
      padding: 3px 15px;
      border: 1px solid #0000F0;
      color: #000; }
    .blog .blog__item p {
      font-size: 1.3em;
      padding: 10px 0; }

/*# sourceMappingURL=works.css.map */
