input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0; }

input[type='number'] {
  -moz-appearance: textfield; }

body {
  font-family: "Roboto"; }
  body:active, body :hover, body :focus {
    outline: 0;
    outline-offset: 0; }

button {
  border: 0;
  border-radius: 0;
  cursor: pointer;
  color: #FFF; }

ul, li, ol {
  padding: 0;
  list-style-type: none; }

h1, h2, h3, h4, h5, p, a, span, address, li, label {
  font-size: 14px;
  margin: 0; }

h1, h2, h3, h4, h5, p, span, address, a:not([href]):not([tabindex]) {
  cursor: default; }

img {
  pointer-events: none; }

.back_form__send {
  width: 100%;
  user-select: none;
  display: none;
  position: fixed;
  height: 100%;
  top: 0px;
  z-index: 126;
  background: black; }
  .back_form__send svg {
    width: 45px;
    height: 45px;
    margin-left: auto;
    display: block;
    cursor: pointer;
    transition: 0.5s; }
    .back_form__send svg:hover {
      transform: scale(0.7);
      opacity: 0.7; }
  .back_form__send .back_form__send-in {
    width: 100%;
    max-width: 90%;
    margin: 100px auto 0;
    position: relative; }
    .back_form__send .back_form__send-in p {
      color: #FFF;
      font-size: 2.8em;
      text-align: center; }

.back_form {
  width: 100%;
  user-select: none;
  display: none;
  position: fixed;
  height: 120%;
  top: 0px;
  z-index: 126;
  background: black; }
  .back_form svg {
    width: 45px;
    height: 45px;
    margin-left: auto;
    display: block;
    cursor: pointer;
    transition: 0.5s; }
    .back_form svg:hover {
      transform: scale(0.7);
      opacity: 0.7; }
  .back_form .back_first {
    width: 100%;
    max-width: 90%;
    margin: 100px auto 0;
    position: relative; }
  .back_form .back_second {
    color: #FFF;
    position: relative;
    z-index: 127;
    text-align: center; }
    .back_form .back_second span {
      display: block;
      font-size: 0.7em;
      margin-top: 15px; }
    .back_form .back_second p {
      font-size: 1.8em;
      line-height: 1.1;
      margin-bottom: 50px;
      font-weight: 600; }
    .back_form .back_second textarea {
      background: transparent;
      color: #FFF;
      border: none;
      margin: 10px 30px 40px;
      resize: none;
      overflow: hidden;
      background-image: url(/img/index/bg_textarea.jpg);
      background-size: contain;
      transition: 0.7s;
      cursor: pointer;
      width: 275px; }
      .back_form .back_second textarea::-webkit-input-placeholder {
        transition: 0.7s;
        color: #FFF; }
      .back_form .back_second textarea:-moz-placeholder {
        transition: 0.7s;
        color: #FFF; }
      .back_form .back_second textarea::-moz-placeholder {
        transition: 0.7s;
        color: #FFF; }
      .back_form .back_second textarea:-ms-input-placeholder {
        transition: 0.7s;
        color: #FFF; }
      .back_form .back_second textarea:focus, .back_form .back_second textarea:hover {
        transform: scale(1.05);
        border-color: #FFF; }
      .back_form .back_second textarea:focus {
        cursor: text; }
        .back_form .back_second textarea:focus::-webkit-input-placeholder {
          color: transparent; }
        .back_form .back_second textarea:focus:-moz-placeholder {
          color: transparent; }
        .back_form .back_second textarea:focus::-moz-placeholder {
          color: transparent; }
        .back_form .back_second textarea:focus:-ms-input-placeholder {
          color: transparent; }
    .back_form .back_second input {
      background: transparent;
      color: #FFF;
      border: none;
      margin: 10px 30px 40px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.7);
      transition: 1s;
      cursor: pointer;
      width: 255px; }
      .back_form .back_second input::-webkit-input-placeholder {
        transition: 0.7s;
        color: #FFF; }
      .back_form .back_second input:-moz-placeholder {
        transition: 0.7s;
        color: #FFF; }
      .back_form .back_second input::-moz-placeholder {
        transition: 0.7s;
        color: #FFF; }
      .back_form .back_second input:-ms-input-placeholder {
        transition: 0.7s;
        color: #FFF; }
      .back_form .back_second input:focus, .back_form .back_second input:hover {
        transform: scale(1.05);
        border-color: #FFF; }
      .back_form .back_second input:focus {
        cursor: text; }
        .back_form .back_second input:focus::-webkit-input-placeholder {
          color: transparent; }
        .back_form .back_second input:focus:-moz-placeholder {
          color: transparent; }
        .back_form .back_second input:focus::-moz-placeholder {
          color: transparent; }
        .back_form .back_second input:focus:-ms-input-placeholder {
          color: transparent; }
    .back_form .back_second button {
      background: transparent;
      border: 1px solid #FFF;
      border-radius: 20px;
      width: 100%;
      transition: 0.5s;
      transform: scale(1.2);
      width: 255px; }
      .back_form .back_second button:hover {
        transform: scale(1.05);
        color: #000;
        background: #FFF; }

.wrapper {
  min-height: calc(100vh - 462px); }

.wrapper_fixed {
  min-height: calc(100vh - 542px);
  margin-top: 80px; }
  .wrapper_fixed .header {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 105; }

.wrapper_fixeded .header {
  position: fixed !important;
  width: 100%;
  top: 0;
  z-index: 105; }

.header {
  background: #1c1c1c;
  padding: 10px 0;
  position: absolute;
  width: 100%; }
  .header .navbar {
    color: #FFF;
    background: #1c1c1c;
    z-index: 120; }
    .header .navbar .navbar-toggler {
      border: 0; }
    .header .navbar .navbar-collapse button {
      background: #0036ff;
      transition: 0.6s; }
      .header .navbar .navbar-collapse button:hover {
        color: #0000ff;
        background: #FFF; }
    .header .navbar button {
      border-radius: 3px;
      padding: 5px 12px;
      font-weight: 600; }
    .header .navbar .navbar-nav .nav-link {
      color: white;
      font-weight: 600;
      text-align: center; }
    .header .navbar .navbar-nav .dropdown-menu {
      border-radius: 0;
      padding: 0; }
      .header .navbar .navbar-nav .dropdown-menu a {
        border-bottom: 2px solid #eeeeee;
        padding: 0.35rem 1.5rem;
        font-weight: 600; }
        .header .navbar .navbar-nav .dropdown-menu a:last-child {
          border: 0; }
    .header .navbar .header__logo a {
      display: inline-block; }
    .header .navbar .header__logo img {
      width: 100%; }

.footer {
  background: #202020;
  padding: 60px 0;
  color: #FFF; }
  .footer a {
    transition: 0.3s; }
    .footer a:hover {
      opacity: 0.6; }
  .footer .footer_first {
    border-bottom: 3px solid #777; }
    .footer .footer_first a {
      display: inline-block;
      padding-top: 15px;
      padding-bottom: 15px; }
    .footer .footer_first img {
      height: 20px;
      margin: 0 5px; }
    .footer .footer_first .footer_first__links a {
      padding: 15px;
      color: #FFF; }
  .footer .footer_second {
    padding-top: 12px; }
    .footer .footer_second p {
      color: #7b7b7b;
      font-size: 0.74em;
      font-weight: 600; }
    .footer .footer_second .first {
      font-size: 14px;
      color: #CCC; }
      .footer .footer_second .first address {
        padding: 0 0 20px; }
    .footer .footer_second .second a {
      color: #FFF;
      display: block; }
  .footer .footer_three {
    padding-top: 25px; }
    .footer .footer_three span {
      font-size: 1.1em; }
    .footer .footer_three img {
      width: 170px;
      margin-right: 15px; }
    .footer .footer_three a {
      color: #FFF;
      text-decoration: underline;
      display: inline-block; }

@media (min-width: 801px) and (max-width: 1367px) {
  .back_form svg {
    z-index: 160;
    position: absolute;
    right: 0; }
  .back_form .back_first {
    margin: 60px auto 0; } }
@media screen and (min-width: 480px) and (max-width: 800px) {
  .numbmob {
    color: #FFF;
    margin-bottom: -10px; }

  .back_form__send .back_form__send-in {
    margin: 30px auto 0; }

  .header .navbar .navbar-nav .dropdown-menu a {
    width: 49%;
    display: inline-block; }

  .back_form svg {
    transform: scale(0.8);
    position: absolute;
    right: 0;
    z-index: 160; }
  .back_form .back_first {
    margin: 20px auto 0; }
  .back_form .back_second p {
    display: none; }

  .footer .footer_second a {
    font-size: 0.7em; }
  .footer .footer_second p {
    margin-top: 20px; }
  .footer .footer_three a {
    margin-top: 20px; } }
@media screen and (max-width: 479px) {
  .numbmob {
    color: #FFF;
    margin-bottom: -10px; }
    .numbmob:hover {
      color: #FFF;
      text-decoration: none; }

  .wrapper {
    min-height: calc(100vh - 302px); }

  .wrapper_fixed {
    min-height: calc(100vh - 382px); }
    .wrapper_fixed .header {
      position: fixed !important;
      top: 0;
      width: 100%;
      z-index: 105; }

  .back_form__send .back_form__send-in p {
    font-size: 1.3em; }

  .back_form svg {
    transform: scale(0.5); }
  .back_form .back_first {
    margin: 10px auto 0; }
  .back_form .back_second p {
    font-size: 1em;
    margin-bottom: 20px; }
  .back_form .back_second input {
    margin: 10px 0px; }

  h1, h2, h3, h4, h5, p, a, span, address, li {
    font-size: 11px; }

  .footer {
    padding: 20px 0; }
    .footer .footer_first img {
      width: 65px; }
    .footer .footer_first .footer_first__links a {
      background: #0000ff;
      color: #FFF;
      font-weight: 600;
      font-size: 1.2em;
      margin: 20px 0;
      padding: 5px 25px; }
    .footer .footer_second {
      display: none; }
    .footer .footer_three img {
      display: block;
      margin: 10px auto; } }
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    margin-top: 22px; }
    .navbar-expand-lg .navbar-nav .dropdown-menu button {
      margin-left: 15px !important;
      margin-right: 15px !important; } }

/*# sourceMappingURL=front.css.map */
