body {background: whitesmoke;overflow-y: scroll}
body::-webkit-scrollbar-track {border-radius: 0px;}
body::-webkit-scrollbar {width: 0px;}
body::-webkit-scrollbar-thumb {border-radius: 4px;background: #f0f2f5;}
body:hover::-webkit-scrollbar-thumb {background: #6a7d9b;}
.table .table td{
    vertical-align: middle;
}
.authlogo{
    width: 600px;
    margin-top: 50px;
}
.inputlog{
    margin: 35px 0px;
}
.btn-lg {
    padding: 10px 85px;
    margin-right: 90px;
}
.textnoauth{
    margin-top: 100px;
    color: #555;
    font-family: Ubuntu;
    font-size: 14pt;
}
.textnoauth p {
    margin-bottom: 40px;
}
.btn a {
    color: #FFF;
    text-decoration: none;
}
.logo {
    width: 60px;
}
.nav-pills .nav-link {
    border-radius: 0
}
.form-control-plaintext {
    transition: .5s;
    outline: 0;
    cursor: pointer;
}
.form-control-plaintext:focus {
    padding: 5px;
    border: 2px solid #000;
    background: #FFF;
    font-weight: 600;
    cursor: unset;
}
.custom-file-label::after {
    content: 'Обзор' !important;
}